table {
    width: 100%;
    font: 17px Calibri;
}


th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;

}
td {
    text-align: center;
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;

}

#buttons{
    text-align: center;
}

h3{
    text-align: center;
}