body
{
    background-color: beige;
}

select
{
    width: 180px;
}
input
{
    width: 180px;
}
table {
    width: 100%;
    font: 17px Calibri;
}

th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;

}
td {
    text-align: center;
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;

}

#history
{

    overflow: scroll;
    max-height: 120px;
    min-height: 120px;
    min-width: 120px;
    min-width: 120px;

}

#main_table{
    max-height: 350px;
    overflow: scroll;
}
